*, *::after, *::before { box-sizing: inherit; }

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-left: 6%;
}

.mobile-only {
    display: none;
}

nav {
    display: flex;
    padding:1% 0%;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

#logo {
    
    height: auto;
    width: 125px;
    padding-top: 10%;
    /* border: 2px solid rgb(36, 161, 17); */
}

.nav-link {
    flex: 1;
    text-align: right;
    text-decoration: none;
    color: gray;
    /* border: 2px solid rgb(36, 161, 17); */
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 40px 12px;
    position: relative;
    border-top: #ffffff solid 2px;
    transition: 0.5s;
}

.nav-link ul li:hover {
    border-top: #0065FC solid 2px;
}

#heading-section {
    /* outline: 2px solid rgb(48, 21, 181); */
    /* padding-left: 6%; */
}

#heading-section p {
    color: gray;
}

#search-bar-section {
    /* outline: 2px solid rgb(219, 8, 176); */
    padding: 2% 0%;
    width: 400px;  
}

#search-bar-section form {
    display: flex;
    
}

#search-bar-section i {
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-bar-section input {
    border: none;
    padding: 10px;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

#search-bar-section button {
    border: none;
    background: #0065FC; 
    color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#filters-section{
    display: flex;
    flex-wrap: wrap;
}

#filters-text{
    align-self: center;
    padding-right: 20px;
    padding-left: 0%;
}

.filter {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 20px;
    overflow: visible;
    height: 40px;
}

.filter i {
    text-align: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    right: 2px;
}

.filter p {
    padding-right: 15px;
    padding-left: 10px;
}

#info-text {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-left: 6%; */
    padding-right: 20px;
    align-items: center;
    padding-top: 40px;
    width: 430px;
    margin-bottom: 20px;
}

#info-text i {
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    padding: 3px 8px;
    color: #0065FC;
}

#info-text p {
    font-weight:100;
    padding-left: 10px;
}


#acc-most-pop-sections {
    display: flex;
    
  }


#accomodations-section {
    background-color: #F2F2F2;
    width: 1000px;
    flex: 3;
    border-radius: 2%;
    padding: 3% 2% 3% 2%;
    
}

#accomodations-section h2 {
    padding-left: 4%;
    padding-bottom: 2%;
}

.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}


.cards {
    width: 330px;
    height: 270px;
    background-color: white;
    padding: 7px;
    border-radius: 10%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);
  }

  .content {
    padding: 4%;
  }

  .content h4 {
    margin-bottom: 4px;
  }

  .content p {
    font-weight: lighter;
    margin-bottom: 4px;
  }

  
  
  
  .cards img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 10% 10% 0% 0%;
  }

  #show-more {
    padding-left: 4%;
    padding-top: 3%;
  }

  .blue-stars{
    color: #0065FC;
  }

  .gray-stars {
    color: #dbdbdb;
  }

  

  #most-popular-section {
    width: 400px;
    background-color: #F2F2F2;
   display: flex;
   flex-direction: column;
   border-radius: 2%;
   margin-right: 6%;
   margin-left: 20px;
   padding: 3% 2% 4% 2%;

  }

  #most-popular {
    display: flex;
    
  }

  #most-popular h2 {
    width: 200px;

  }

  #most-popular i {
    padding-left: 100px;
  }

  .most-popular-cards {
    display: flex;
    width: 330px;
    height: 150px;
    background-color: white;
    padding: 7px;
    border-radius: 10%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);
  }

  

  .most-popular-cards img {
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 10% 0% 0% 10%;
  }

  #activities-header {
    padding-top: 5%;
    padding-bottom: 5%;
  }


  #activities-section {
    
    margin-bottom: 100px;
    display: flex;
  }

  .activity-card {
    width: 375px;
    height: 550px;
    background-color: rgb(248, 165, 165);
    padding: 7px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);
    margin-right: 50px;
  }
  

  .activity-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .activity-row {
    display: flex;
    
  }

  .activity-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
  }

  .activity-column .activity-card {
    background-color: #87b7ff;
    height: 45%;
  }
 
  /* .activity-container {
    padding: 2px 16px;
  } */




/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/

/* Tablet */
@media (max-width: 992px) {

    
    
  }

/* Phone */
@media (max-width: 768px) {

    html {
        padding: 0;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    nav {
        display: block;
        padding: 0;

    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 10%;
        
    }

    .nav-link {
        text-align: center;
        
    }

    /* How do I get the line underneath to span the length of the screen? */

    #nav-list {
        display: flex;
        justify-content: space-between;
    }

    .nav-link ul li {
        list-style: none;
        flex: 1;
        padding: 0;
        border-top: none;
        border-bottom: #F2F2F2 solid 2px;
        transition: 0.5s;
    }
    
    .nav-link ul li:hover {
        border-top: none;
        border-bottom: #0065FC solid 2px;
    }

    #search-bar-section {
        width: auto;
        padding-top: 8%;
        display: flex;
        justify-content: center;
    }

    #search-bar-section button {
        border: none;
        background: #0065FC; 
        color: white;
        padding: 3px;
        border-radius: 15px;

    }

    /*  I need to get the pin icon box and the magnifying glass box the same width  */

    #search-bar-section button i {
        background-color: #0065FC;
        border-radius: 15px;
    }

    #heading-section {
        padding-left: 6%;
    }

    #search-bar-section form {
        width: 90%;
    }

    #search-bar-section input {
        width: 90%;
    }

    #filters-section {
        padding-left: 6%;
    }

    #mobile-filters-text {
        padding: 7% 0% 5% 6%;
    }

    #info-text {
        width: auto;
        padding-left: 6%;
    }

    #acc-most-pop-sections {
        flex-direction: column-reverse;
    }

    

    #most-popular-section {
        width: auto;
        margin: 0;
        border-radius: 0;
        
    }

    #accomodations-section {
        width: auto;
        margin: 0;
        border-radius: 0;
        background-color: white;
    }

    #most-popular h2 {
        padding-left: 4%;
    padding-bottom: 2%;
    
      }

  }